.approved-message, .error-message{
    display: block;
    padding: 10px 10px; 
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 20px;
    margin-bottom: 20px;
}


.approved-message {
    border: 2px solid green;
    background-color: rgba(0, 128, 0, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #333;
}

.error-message {
    border: 2px solid red;
    background-color: rgba(255, 0, 0, 0.1); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: #333;
}